#flash-rolls-settings .form-group.column {
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;

  label {
    width: 100%;
  }
}

#flash-rolls-settings .form-group.warning {
  p.warning {
    background-color: rgba(215, 215, 215, 0.15);
    color: var(--color-text-primary);
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
}

#flash-rolls-settings .form-group.requires-libwrapper {
  opacity: 0.75;
  pointer-events: none;

  label, input, select, .range-value {
    cursor: not-allowed;
  }

  input, select {
    background-color: rgba(0, 0, 0, 0.1);
  }
}