#flash-rolls-settings .form-group.column {
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;

  label {
    width: 100%;
  }
}

#flash-rolls-settings .form-group.warning {
  p.warning {
    background-color: rgba(141, 116, 0, 0.7);
    color: var(--color-text-primary);
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
}