.flash5e-token-associations {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  gap: 0.25rem 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  flex-wrap: wrap;
}

.flash5e-token-associations > div:first-child {
  flex: 1 1 auto;
  font-size: 0.875rem;
  color: var(--color-text-primary);
  text-align: right;
}

.flash5e-token-associations:before {
  content: '';
  display: block;
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 0.5rem;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--dnd5e-color-gold), transparent);

}

.flash5e-token-associations .button-group {
  display: flex;
  gap: 0.5rem;
  flex: 0 0 auto;
}

.flash5e-token-associations.no-tokens .button-group {
  display: none;
}

.flash5e-select-tokens,
.flash5e-remove-associations {
  flex: 0 0 auto;
  padding: 0.2rem 1rem;
}
