.application .standard-form{
  &.transformation-dialog .notes {
    opacity: 0.5;
  }

  &.transformation-dialog .form-group.header h2{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-23);
  }
  &.transformation-dialog .form-group.header h2 span{
    display: flex;
    margin: 0.5rem 0;
    font-size: var(--font-size-16);
    font-family: var(--font-body);
    font-weight: 400;
  }
  
  &.transformation-dialog .form-group {
    align-items: center;
  }
  &.transformation-dialog .form-group.column {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;

    label {
      width: 100%;
    }

    > * {
      width: 100%;
    }
  }

  &.transformation-dialog .form-group select {
    min-height: var(--input-height);
  }

  &.transformation-dialog .favorites-empty {
    color: var(--color-text-dark-secondary);
    text-align: center;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 2px dashed var(--fr5e-secondary-bg-10);
  }

  &.transformation-dialog .favorites-section {
    flex-wrap: nowrap;
  }
  &.transformation-dialog .favorites-section.drag-over {
    background: var(--fr5e-secondary-bg-10);
    border-radius: 6px;
    border: 2px dashed var(--fr5e-secondary-bg-10);
  }

  &.transformation-dialog .favorites-section .favorites-list {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    background: var(--fr5e-secondary-bg-10);
    border: 2px dashed transparent;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    flex-wrap: wrap;
    max-height: 11rem;
    overflow: auto;
  }

  &.transformation-dialog .favorite-item,
  &.transformation-dialog .selected-actor-preview {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  &.transformation-dialog .selected-actor-preview button.toggle-favorite-btn {
    position: absolute;
    width: 1.5rem;
    height: auto;
    background: transparent !important;
    border: none !important;
    top: 0;
    right: 0.5rem;
    padding-top: 0 !important;
    height: auto !important;
    min-height: 0 !important;
  }
  &.transformation-dialog .selected-actor-preview button.toggle-favorite-btn:hover {
    color: var(--color-warm-2);
  }

  &.transformation-dialog .favorite-item {
    cursor: pointer;
    width: calc((100% - 1rem)/2);
    min-width: calc((100% - 1rem)/2);
    flex: 0 0 calc((100% - 1rem)/2);
    display: flex;
    gap: 0.5rem;
    padding: 0;
    /*background: var(--fr5e-secondary-bg-10);*/
    border: 1px solid var(--fr5e-secondary-bg-10);
    border-radius: 4px;
  }

  &.transformation-dialog .favorite-item button.toggle-favorite-btn {
    background: transparent !important;
    border: none !important;
  }


  &.transformation-dialog .favorite-item:hover {
    background: var(--fr5e-secondary-bg-10);
  }

  &.transformation-dialog .selected-actor-preview .actor-image-placeholder {
    width: 7rem;
    height: 7rem;
    border-radius: 4px;
    flex: 0 0 7rem;
    background: var(--fr5e-secondary-bg-10);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

  &.transformation-dialog .selected-actor-preview .actor-image-container {
    width: auto;
    max-width: 10rem;
    height: 7rem;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--fr5e-secondary-bg-10);
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
  }

  &.transformation-dialog .selected-actor-preview .actor-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
  }
  &.transformation-dialog .selected-actor-preview .actor-image-placeholder > i {
    transform: scale(2.4);
    opacity: 0.25;
  }

  &.transformation-dialog .selected-actor-preview .actor-image-container img:not([src]),
  &.transformation-dialog .selected-actor-preview .actor-image-container img[src=""],
  &.transformation-dialog .selected-actor-preview .actor-image-container img[src="undefined"],
  &.transformation-dialog .selected-actor-preview .actor-image-container img.hidden {
    content: "";
    opacity: 0;
  }

  &.transformation-dialog .favorite-item img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    flex-shrink: 0;
    background: var(--fr5e-secondary-bg-10);
  }

  &.transformation-dialog .favorite-item span,
  &.transformation-dialog .selected-actor-preview span {
    flex-grow: 1;
  }

  &.transformation-dialog .toggle-favorite-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--color-warm-2);
    flex-shrink: 0;
  }

  &.transformation-dialog .toggle-favorite-btn:hover {
    color: var(--color-warm-2) !important;
  }

  &.transformation-dialog .toggle-favorite-btn i.faded {
    opacity: 1;
  }

  &.transformation-dialog .clear-actor-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--color-text-dark-secondary);
    flex-shrink: 0;
  }

  &.transformation-dialog .clear-actor-btn:hover {
    color: var(--color-text-light-heading);
  }

  &.transformation-dialog .select-actor-btn {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem !important;
    margin: 0;
  }
}